<div class="container__small-card">
    
    <div class="container__small-card-content">

        <div class="small-card__photo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThyEKIq_a7eWEwVEoo1aTBQ6gV1KQ4BI8ojEQgnl0ITQ&s"
            alt=""
            height="200px"
            srcset="">
        </div>
    
        <div class="small-card__title">
            <h1><a href="">Saiu a nova vesão do Angular</a></h1>
            <p>
                <a href="">
                descricao 
                </a>
            </p>
        </div>

    </div>

    <div class="container__small-card__separator">
        <hr>
    </div>
</div>
